# Exercises

## General Python

Let's build a simple **form application**. Your task will be to **ask the users some information**, **store it** in variables, perform **simple operations** and **display a user report** in the end. The form must:
  1. Ask for the user's name, weirdest habit, favourite hobbie and best quality;
  2. Store the informations in variables, which are easily readable;
  3. Display a profile report about the user.

In [1]:
### BUILD YOUR APP HERE
name = input("What is your name?")
habit = input("What is your weirdest habit?")
hobbie = input("What is your favourite hobbie?")
quality = input("What is your best quality?")

What is your name? Mary
What is your weirdest habit? Chewing nails
What is your favourite hobbie? Singing
What is your best quality? Forgiveness

In [2]:
print("User Profile \n")
print("Name: " + name)
print("Weirdest Habit: " + habit)
print("Favourite Hobbie: " + hobbie)
print("Best Quality: " + quality)

User Profile

Name: Mary
Weirdest Habit: Chewing nails
Favourite Hobbie: Singing
Best Quality: Forgiveness

## Data Types

For the following variables, assign the most appropriate data type:

  1. A cat's name;
  2. Personality traits of your colleague;
  3. Conversion rate between kilometer and mile;
  4. Translation between spanish and english, word by word (like in the old-time Google Translate);
  5. Number of olympic swimming pools in the world

In [3]:
### ASSIGN DATA TYPES HERE
# Cat's name - string
# Personality traits - set/list
# Conversion rate km/mile - float
# Translation es/en - dictionary
# Swimming pools - int


## Googling Skills

Search what is the Pythonic way to
- Get the number of items in a dict, set, tuple and list
- Check if an element exists in a dict, set, tuple or list
- Change the value of a specific element in a list (e.g. 2nd item) 
- Reverse the items in a list

In [ ]:
### SOLUTION
# number of items - len
# element exists - in
# change value - l[1] = -1
# reverse items - l.reverse(), list(reversed(l))

## DataFrames

Use the practice code block below to find out the answers on `pandas` and DataFrames.

  1. What is the dtype of a Series with mixed data types? e.g. float, int, strings
  2. Create a DataFrame from a dict. e.g. band DataFrame from the learning notebook
  3. In separate cells, get the first and last 5 elements of the new dataframe (tip: methods from Basic Functionality section)

In [4]:
### SOLUTION

In [5]:
import pandas as pd

In [6]:
# 1. The dtype of a mixed data type Series is
#  'object' if some element is not a number (e.g. string, list, dict)
#  'float' if members are mixed float and integers

In [7]:
# 2. Create a dict , where the keys are the column_names and  the values are mappings of row key to to row value.
band_dict = {
    "Jacob" : { "Age": 45, "Skill": "drums"},
    "Kimbra" : { "Age": 20, "Skill": "piano"},
    "Daniel" : { "Age": 60, "Skill": "guitar"},
    "Tori" : { "Age": 47, "Skill": "bass"},

}

In [8]:
band_df = pd.DataFrame(band_dict)
band_df

       Jacob Kimbra  Daniel  Tori
Age       45     20      60    47
Skill  drums  piano  guitar  bass

In [9]:
# 3. First elements - head
band_df.head(5)

       Jacob Kimbra  Daniel  Tori
Age       45     20      60    47
Skill  drums  piano  guitar  bass

In [10]:
# 3. Last elements - tail
band_df.tail(5)

       Jacob Kimbra  Daniel  Tori
Age       45     20      60    47
Skill  drums  piano  guitar  bass